header{
  background-color:rgba(51, 153, 255, 0.9);
  height:90px;
}

.header-left{
  font-size:36px;
  padding:20px 40px;
  text-align:left;
}

.header-logo{
  display:inline-block;
}

.header-right{
  text-align: center;
}

li{
  list-style:none;
}

.header-list li{
  display:inline-block;
  padding:33px 20px;
  transition:all 0.5s;
}

.header-list li:hover {
  background-color:rgba(255, 255, 255, 0.5);
}

.top-wrapper{
  padding:180px 0 100px 0;
  background-color:#00FFFF;
  background-size:cover;
  text-align:center;
}

.top-wrapper h1{
  font-size:45px;
  letter-spacing:5px;
}

.container{
  width:1170px;
  padding:0 15px;
  margin:0 auto;
}

.section-title{
  border-bottom:2px solid #dee7ec;
}

.research{
  height:500px;
}

.research-item{
  float:left;
}

.history{
  height:500px;
}

.history-item{
  float:left;
}

footer{
  height:120px;
  padding:40px;
  background-color:#0099FF;
}

.footer-logo{
  float:left;
  font-size:32px;
}

.footer-list{
  float:right;
}

.footer-list li{
  padding-bottom:20px;
}
