.header{
  background-color:#3399FF;
  height:90px;
}

.header-logo{
  float:left;
  font-size:36px;
  padding:20px 40px 20px 40px;
}

li{
  list-style:none;
  float:left;
  padding:20px 40px 20px 40px;
}


